.button {
    height: 50px;
    line-height: 50px;
    width: 340px;
    display: block;
    margin: 0 auto;
    background-color: #996e31;
    border: 1px solid #996E31;
    color: #fff;
    cursor: pointer;
    font: 18px $ps;
    text-transform: uppercase;
    -webkit-border-radius: 4px;
            border-radius: 4px;
    @include transition(all, .2s);
    &:hover {
        background-color: #FFF;
        color: #996e31;
    }
    &--white {
        background-color: #FFF;
        color: #996e31;
        &:hover {
            background-color: #996e31;
            color: #FFF;
        }
    }
}