.clients {
    .flex-container {
        @include flex($justify: center);
        margin-bottom: -20px;
        padding-bottom: 80px;
    }

    .client-item {
        width: 25%;
        margin-bottom: 20px;
        padding: 0 15px;
        
        img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }
    }
}