.contacts {
    .column {
        width: 33.333%;
        float: left;
        padding: 0 15px;

        &.first-column {
            text-align: left;
        }

        &.last-column {
            text-align: right;
        }
    }

    &-title {
        color: $gold;
        font-size: 24px;
        text-transform: uppercase;
        font-family: $ps;
        margin-bottom: 29px;
    }

    &-text {
        font-size: 18px;

        address {
            font-style: normal;
        }
    }
}


.map {
    height: 450px;

    .gm-style a,
    .gmnoprint {
        display: none!important;
    }
}