.contacts {
    .column {
        width: 33.333%;
        float: left;
        padding: 0 15px;

        @media (max-width: 767px) {
            width: 290px;
            display: block;
            float: none;
            margin: 0 auto 60px;
        }

        &.first-column {
            text-align: left;

            @media (max-width: 767px) {
                text-align: center;
            }
        }

        &.last-column {
            text-align: right;

            @media (max-width: 767px) {
                margin-bottom: 0;
                text-align: center;
            }
        }
    }

    &-title {
        color: $gold;
        font-size: 24px;
        text-transform: uppercase;
        font-family: $ps;
        margin-bottom: 29px;

        @media (max-width: 767px) {
            margin-bottom: 15px;
        }
    }

    &-text {
        font-size: 18px;

        address {
            font-style: normal;
        }
    }
}


.map {
    height: 450px;

    @media (max-width: 1200px) {
        height: 400px;
    }

    @media (max-width: 991px) {
        height: 350px;
    }

    @media (max-width: 767px) {
        height: 300px;
    }

    .gm-style a,
    .gmnoprint {
        display: none!important;
    }
}