.footer {
    background-color: $grey;
    padding: 37px 0;
    color: #fff;
    overflow-y: hidden;

    @media (max-width: 767px) {
        padding: 20px 0;
    }

    .wrapper {
        text-align: left;
    }

    .copyright {
        font-family: $pt;
        display: inline-block;

        @media (max-width: 767px) {
            display: block;
            text-align: center;
        }
    }

    .socials {
        float: right;
        margin: 0 -9px;

        @media (max-width: 767px) {
            display: block;
            float: none;
            text-align: center;
            margin: 10px 0 0;
        }

        a {
            display: inline-block;
            height: 17px;
            margin: 0 8px;

            img {
                display: block;
                height: 100%;
                width: auto;
            }
        }
    }
}