.offer {
    height: 760px;
    position: relative;
    @include flex();
    @media (max-width: 1500px) {
        height: 660px;
    }
    @media (max-width: 1200px) {
        height: auto;
        padding: 100px 0;
    }
    @media (max-width: 991px) {
        .form {
            display: block;
            margin: 0 auto;
        }
    }
    .wrapper {
        padding-top: 100px;
        position: relative;
        z-index: 2;
        @include flex();
        @media (max-width: 1200px) {
            padding-left: 20px;
            padding-right: 20px;
        }
        @media (max-width: 991px) {
            padding-top: 0;
            display: block;
        }
        p {
            color: #FFF;
            max-width: 650px;
            text-align: left;
            font-size: 36px;
            @media (max-width: 1600px) {
                font-size: 32px;
            }
            @media (max-width: 1200px) {
                font-size: 28px;
                max-width: 500px;
            }
            @media (max-width: 991px) {
                display: block;
                margin: 0 auto 40px;
                max-width: 80%;
                text-align: center;
            }
        }
    }
}
.offerSlider {
    @include position(absolute, 0, 0, auto, 0);
    height: 100%;
    width: 100%;
    .slick-list,
    .slick-track {
        height: 100%;
        width: 100%;
    }
    .slick-slide {
        @include position(absolute, 0, 0, auto, 0);
        height: 100%;
        width: 100%;
        background-position: 50% 50%;
        -webkit-background-size: cover;
             -o-background-size: cover;
                background-size: cover;
    }
    .slick-dots {
        width: 12px;
        text-align: center;
        right: 10%;
        height: 90px;
        top: 0;
        bottom: 0;
        margin: auto;
        li {
            display: inline-block;
            width: 10px;
            height: 10px;
            border: 1px solid #fff;
            background-color: transparent;
            -webkit-border-radius: 50%;
                    border-radius: 50%;
            &:before {
                display: none;
            }
            &.slick-active {
                background-color: #fff;
            }
            button {
                display: none;
            }
        }
    }
}