
// TYPOGRAPHIC
// ---------------------------
html,
body {
	height: 100%;
    font-family: $pr;
    font-size: 16px;
    color: $grey;
}

.section-title {
    font-family: $cgb;
    font-size: 36px;
    color: $grey;
    margin-bottom: 70px;
    &.white {
        color: #FFF;
    }
}


// lAYOUT
// ---------------------------
.wrapper {
	width: 1200px;
	margin: 0 auto;
	text-align: center;
    @media (max-width: 1230px) {
        width: 100%;
        padding: 0 15px;
    }
}

.small-info {
    display: block;
    margin: 0 auto 35px;
    text-align: center;
    font: 16px $pt;
}

.section {
    padding: 65px 0 80px;
}

.clearfix {
    @extend %clearfix;
}