// COLORS
// ---------------------------
$grey:                  #333333;
$gold:                  #996e31;

// FONTS
// ---------------------------
$pr:                    'Proxima Nova Rg';
$ps:                    'Proxima Nova Lt';
$pt:                    'Proxima Nova Th';

$cgb:                   'Century Gothic Bold';


// RESPONSIVE
// ---------------------------
