// COLORS
// ---------------------------


// FONTS
// ---------------------------
$pr:                    'Proxima Nova Rg';
$ps:                    'Proxima Nova Lt';
$pt:                    'Proxima Nova Th';


// RESPONSIVE
// ---------------------------
